<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit</title>
</head>
<body>
<input style="color: blue" type="button" value="Logout" onclick="window.location.href = '/logout'"/>
<h2>User Correction</h2>

<form th:action="@{/admin/saveUpUser}" th:object="${user}" th:method="POST">
    <input type="hidden" th:field="*{id}">
    Name:
    <input type="text" th:field="*{name}"/>
    <br/>
    Surname:
    <input type="text" th:field="*{surname}"/>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <br/>
    Age:
    <input type="text" th:field="*{age}"/>
    <br/>

    Password:
    <input type="text" th:field="*{password}"/>
    <br/>

    <select id="role" name="selectedRoles" multiple="multiple">
        <option th:each="role : ${listRoles}" th:id="${role.id}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <br/>

    <input type="submit" value="Update"/>
    <br/>
    <br/>
    <input style="color: blue" type="button" value="<<Back" onclick="window.location.href = '/admin'"/>
</form>
</body>
</html>