<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new</title>
</head>
<body>
<input style="color: blue" type="button" value="Logout"   onclick="window.location.href = '/logout'"/>
<h2>User Creation</h2>


<form th:action="@{/admin/saveAddUser}" th:object="${user}" th:method="POST">
    Name:
    <input type="text" th:field="*{name}"/>
    <form th:errors="*{name}" type="text"></form>
    <br/>
    Surname:
    <input type="text" th:field="*{surname}"/>
    <form th:errors="*{surname}" type="text"></form>
    <br/>
    Email:
    <input type="text" th:field="*{email}"/>
    <form th:errors="*{email}" type="text"></form>
    <br/>
    Age:
    <input type="text" th:field="*{age}"/>
    <form th:errors="*{age}" type="text"></form>
    <br/>

<!--    <form th:errors="*{salary}" type="text">-->
    <br/>
    Password:
    <input type="text" th:field="*{password}"/>
    <br/>

    <select id="role" name="selectedRoles" multiple="multiple">
        <option th:each="role : ${listRoles}" th:id="${role.id}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>

    <br/>

    <input type="submit" value="Create"/>
    <br/>
    <br/>

    <input style="color: blue" type="button" value="<<Back"   onclick="window.location.href = '/admin'"/>

</form>
</body>
</html>
